<!DOCTYPE html>
<html>
    <head>
        <title>REFRISOL</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <header>
            <table id="table1">
                <tr>
                    <th><img src="static/images/refrisol.jpg" alt="logo de empresa" width="100"></th>
                    <th>Inicio</th>
                    <th><a href="/lavadoras">Lavadoras</a></th>
                    <th>Neveras</th>
                    <th>Aires Acondicionados</th>
                    <th><a href="#footer">contactanos</a></th>
                </tr>
            </table>
            <div id="tituli">
            <h1 id="titulo1">Mantenimiento y reparación de aires acondicionados</h1>
            <p id="parrafo1">En Refrisol, nuestro servicio técnico especializado te ofrece la solución perfecta para mantener tu aire acondicionado en óptimas condiciones.¡Ofrecemos garantía en todos nuestros servicios, para que te sientas cómodo y tranquilo! llame ya y cotiza el mantenimiento de tu equipo, sin ningún compromiso.</p>
            <button class="button">Llama ahora </button>
            </div>
        </header>
        <main>
            <h2>Reparamos cualquier tipo de maquinas:</h2>
            <table id="table3">
                <tr>
                    <th><img src="static/images/split.jpg" alt="Aire acondicionado tipo split" width="250"></th>
                    <th><img src="static/images/tipo_ventana.jpg" alt="Aire acondicionado tipo ventana" width="250"></th>
                    <th><img src="static/images/tipo_techo.jpg" alt="Aire acondicionado tipo techo" width="250"></th>
                    <th><img src="static/images/tipo_casette.jpg" alt="Aire acondicionado tipo casette" width="250"></th>
                </tr>
                <tr id="th1">
                    <th>Aire acondicionado convencional (split o multisplit)</th>
                    <th>Aire acondicionado de ventana</th>
                    <th>Aire acondicionado de techo</th>
                    <th>Aire acondicionado tipo casette</th>
                </tr>
                <tr id="th2">
                    <th>Diagnóstico y reparación de fallas en sistemas de aire acondicionado convencional, abordando problemas como fugas, fallos en el compresor, problemas del termostato, entre otros.</th>
                    <th>Reparación de fallas en aires acondicionados de ventana, incluyendo problemas de enfriamiento insuficiente, acumulación de hielo en las bobinas, fallos en el ventilador o el termostato, entre otros.</th>
                    <th>Mantenimiento y reparación de aires acondicionados de techo, solucionando problemas de distribución de aire, fallos en el sistema de ventilación, problemas con el control centralizado, entre otros.</th>
                    <th>Servicio técnico para aires acondicionados tipo cassette, solucionando problemas como flujo desigual, fallos en el sistema de drenaje, problemas de control de temperatura, entre otros.</th>
            </table>
            <div id="main1">
                <h1>
                    ¡LLAME AHORA, COTICE EL MANTENIMIENTO DE SU AIRE ACONDICIONADO Y SEPA QUE INCLUYE!
                </h1>
                <P class="linea1"></P>
                <P class="pm1">LLámenos hoy al: 3209514675</P>
                <p class="pm1">o contáctenos vía WhatsApp o correo electrónico mediante los botones de abajo.</p>
                <button class="boton"><a href="/formulario">Quiero cotizar</a></button>
            </div>
            <h2 class="reo2">Reparamos cualquier marca de máquina:</h2>
            <img src="static/images/marcas_2.jpg" alt="Marcas de aires acondicionados" width="60%" class="imgmarcas">     
        </main>
        <footer id="footer">
            <div class="contenedor">
                <div class="columna">
                    <p id="titf">PONTE EN CONTACTO CON NOSOTROS</p>
                    <p class="linea"></p>
                    <h3>+57 3209514675</h3>
                    <h4>Teléfono</h4>
                    <h3>frebraka@gmail.com</h3>
                    <h4>correo electrónico</h4>
                </div>
                <div class="columna">
                    <p class="col2">Lunes-Sábado, 7 am a 6 pm (horario continuo).
                    No hay atención domingos ni festivos.</p>
                        <div class="fil">
                            <img src="static/images/whatsapp_logo.jpg" width="70" alt="logo whatsapp.">
                            <img src="static/images/email_logo.jpg" width="70" alt="Logo email.">
                        </div>
                    <p class="col2">Recibimos varios métodos de pago, incluyendo efectivo y transferencias electrónicas</p>
                        <div class="fila">
                            <img src="static/images/NEQUI_logo.jpg" width="100">
                            <img src="static/images/bancolombia_logo.jpg" width="70">
                            <img src="static/images/efectivo_logo.jpg" width="80">
                        </div>
                </div>
            </div>
            <p id="fotp">© 2025 todos los derechos reservados Refrisol  Bucaramanga telefono:+57 3209514675</p>
        </footer>
    </body>
</html>