<!DOCTYPE html>
<html>
    <head>
        <title>Lavadoras</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>INICIO</li>
                    <li>LAVADORAS</li>
                    <li>NEVERAS</li>
                    <li>AIRES ACONDICIONADOS</li>
                    <li>CONTACTANOS</li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Mantenimiento y reparación de lavadoras</h1>
                <p>En Refrisol solucionamos tus necesidades, por eso, contamos con servicios de mantenimiento y reparación de todo tipo de lavadoras, de todas las marcas; siempre con los más altos estándares de calidad y profesionalismo, sin olvidarnos de la amabilidad, honestidad y buen trato a nuestros clientes. Llame ya y cotice el mantenimiento de su máquina, sin ningún compromiso.</p>
                <button>!Llama ahora!</button>
            </div>
            <div>
                <h2>Reparamos cualquier tipo de máquina</h2>
                <table>
                    <tr>
                        <th><img src="static/images/Carga_superior.jpg" alt="lavadora carga superior"></th>
                        <th><img src="static/images/carga_frontal.jpg" alt="Lavadora carga frontal"></th>
                    </tr>
                    <tr>
                        <th>Lavadora carga superior</th>
                        <th>Lavadora carga frontal</th>
                    </tr>
                    <tr>
                        <th>¡Alarga la vida útil de tu lavadora tradicional con nuestro servicio de mantenimiento preventivo! Solucionamos los problemas más comunes como fugas en agitador, desgaste de rodamientos, obstrucciones de la bomba de drenaje y fallas electrónicas, todo con diagnósticos profesional, limpieza interna, ajuste de componentes y garantía incluida. Evita reparaciones costosas y mantén tu lavadora funcionando como nueva.</th>
                        <th>¡Mantén tu lavadora de carga frontal en óptimas condiciones con nuestro servicio especializado! prevenimos y solucionamos problemas frecuentes como fugas en la puerta, ruidos por desgaste de rodamientos, malos olores por acumulación interna y fallas en el sistema de drenaje o control electrónico. Incluimos diagnóstico profesional, limpieza profunda, revisión de componentes y garantía por servicio.¡Evita daños mayores y prolonga la vida útil de tu equipo agendando tu mantenimiento hoy mismo!</th>
                    </tr>
                </table>
            </div>
            
        </main>
        <footer>
            <div class="contenedor">
                <div class="columna">
                    <p id="titf">PONTE EN CONTACTO CON NOSOTROS</p>
                    <p class="linea"></p>
                    <h3>+57 3209514675</h3>
                    <h4>Teléfono</h4>
                    <h3>frebraka@gmail.com</h3>
                    <h4>correo electrónico</h4>
                </div>
                <div class="columna">
                    <p class="col2">Lunes-Sábado, 7 am a 6 pm (horario continuo).
                    No hay atención domingos ni festivos.</p>
                        <div class="fil">
                            <img src="Imagenes/whatsapp logo.jpg" width="70" alt="logo whatsapp.">
                            <img src="Imagenes/email_logo.jpg" width="70" alt="Logo email.">
                        </div>
                    <p class="col2">Recibimos varios métodos de pago, incluyendo efectivo y transferencias electrónicas</p>
                        <div class="fila">
                            <img src="Imagenes/NEQUI_logo.jpg" width="100">
                            <img src="Imagenes/bancolombia_logo.jpg" width="70">
                            <img src="Imagenes/efectivo_logo.jpg" width="80">
                        </div>
                </div>
            </div>
            <p id="fotp">© 2025 todos los derechos reservados Refrisol  Bucaramanga telefono:+57 3209514675</p>
        </footer>
    </body>
</html>